



/* slider styles------------- */
.range-form {
    width: 400px;
    margin: auto;
    padding: 50px;
    /* border: 1px solid red; */
  }
  
  .range-slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 10px;
    border-radius: 5px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    &:hover {
      opacity: 1;
      /* Fully shown on mouse-over */
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 18px;
      /* Set a specific slider handle width */
      height: 18px;
      /* Slider handle height */
      background: #4CAF50;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
      border-radius: 50%;
    }
    &::-moz-range-thumb {
      width: 18px;
      /* Set a specific slider handle width */
      height: 18px;
      /* Slider handle height */
      background: #4CAF50;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
    }
  }
  
